@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
img {
    /** Set image interpolation for Internet Explorer */
    -ms-interpolation-mode: bicubic;
}
.hotspotVisibilityToggle{
    position: fixed;
    z-index: 999;
    bottom: 0;
    right: 0;
    cursor: pointer;
    text-decoration: underline;
    -webkit-user-select: none;
}
.pages > .page {
    margin: 0 auto;
    display: none;
    animation: fadeIn 1s;
    position: relative;
}
.page img {
    width: 100%;
    display: block;
}
.page .hotspot {
    display: block;
    position: absolute;
}

.page .visibleHotspot {
    background-color: yellow;
    opacity: 0.5;
}